pre {
  margin: 0;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.request-name {
  margin-top: 5px;
  font-size: 14px;
  font-weight: bold;
}

.el-input__inner {
  height: 30px;
  line-height: 30px;
  padding-left: 7px;
  padding-right: 0;
  background-color: var(--vscode-editor-background);
  color: var(--vscode-editor-foreground);
}
.el-input__suffix {
  top: -5px;
}

.el-tabs__item {
  color: var(--vscode-tab-inactiveForeground);
}
