#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
.el-icon-arrow-up:before {
  content: "^";
  font-size: 14px;
  font-family: Verdana, sans-serif;
  position: relative;
  top: 2px;
  bottom: 0;
}
