pre {
  margin: 0;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.request {
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.request-name {
  margin-top: 5px;
  font-size: 14px;
  font-weight: bold;
}

.editor-container {
  height: 100vh;
  overflow: hidden;
}

.table-container {
  display: flex;
  position: static;
  width: calc(100% - 2px);
  height: 100%;
  border: none;
  box-shadow: none;
}
.table-container .flowbee-config-tab-content th {
  border: 1px solid var(--vscode-panel-border);
}
.table-container td {
  border: 1px solid var(--vscode-panel-border);
}
.table-container td:focus {
  outline: 1px solid #409eff;
  border-left: 1px solid #409eff;
}

.el-input__inner {
  height: 30px;
  line-height: 30px;
  padding-left: 7px;
  padding-right: 0;
  background-color: var(--vscode-editor-background);
  color: var(--vscode-editor-foreground);
  border: 1px solid var(--vscode-panel-border);
  border-radius: 4px;
}
.el-input__suffix {
  top: -5px;
}

.el-tab-pane {
  border: 1px solid var(--vscode-panel-border);
  border-radius: 4px;
  padding-left: 8px;
  min-height: 200px;
}
.el-tabs__item {
  color: var(--vscode-tab-inactiveForeground);
}
